@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2"),
    url("./fonts/JetBrainsMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Medium.woff2") format("woff2"),
    url("./fonts/JetBrainsMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2"),
    url("./fonts/JetBrainsMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "JetBrains Mono", monospace; /* Default to monospace as fallback */
}
